/* import fonts */

/* Global styles
------------------------------------ */
:root {
  /* Default font size */
  font-size: 16px;
}

body {
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-inline: auto;
}

.container > * {
  max-width: 100%;
}

.container > main {
  margin-block: auto;
}

.container > :first-child:not(main) {
  margin-block-start: 0;
}

.container > :last-child:not(main) {
  margin-block-end: 0;
}

/* MAIN STYLING
------------------------------------ */
.main__page-title {
  text-align: center;
  margin-block-end: 2rem;
}
