/* import reset.css */

@import url('./reset.css');

/* import fonts */

/* Open Sans regular font */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf") format('TrueType');
  font-weight: 400;
}

/* Open Sans medium font */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Medium.ttf") format('TrueType');
  font-weight: 500;
}

/* Open Sans bold font */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf") format('TrueType');
  font-weight: 700;
}

/* Global styles
------------------------------------ */
:root {
  /* Default font size */
  font-size: 16px;

  /* custom font family */
  --primary-ff: 'Open Sans', sans-serif;
}

body {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-family: var(--primary-ff);
  font-weight: 400;
  background-color: #f6f6f6;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-inline: auto;
  padding-inline: 10px;
}

.container > * {
  max-width: 100%;
}

.container > main {
  margin-block: auto;
}

.container > :first-child:not(main) {
  margin-block-start: 0;
}

.container > :last-child:not(main) {
  margin-block-end: 0;
}

/* MAIN STYLING
------------------------------------ */
.main__page-title {
  margin-block-end: 2rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

.todo {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-inline: auto;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.todo > * + *,
.todo__body > * + * {
  border-block-start: 2px solid #f6f6f6;
}

.todo__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.todo__header-title {
  font-size: 1rem;
  font-weight: 500;
}

.todo__header-icon {
  width: 1.125rem;
  height: auto;
}

.todo__body {
  font-size: 1rem;
}
.todo__body > *:not(.todo__form) {
  padding: 1em;
}

.todo__form {
  padding-inline: 1rem;
}

.todo__form * {
  width: 100%;
  padding-block: 1em;
  font-style: italic;
  border: none;
}

.todo__input-label {
  position: relative;
}

.todo__form input {

  opacity: 0.5;
}

.todo__input-img {
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 0;
  width: 10px;
  height: auto;
}

.todo__form input:focus-visible {
  opacity: 1;
  outline: none;
}

.todo__footer {
  background-color: #f6f6f6;
  text-align: center;
  padding: 1rem;
  border-radius: 0 0 10px 10px;
}

.todo__clear-btn {
  font-size: 1rem;
  color: #808080;
  padding: 0;
  border: none;
}

.todo__clear-btn:hover,
.todo__clear-btn:active {
  color: #000;
  text-decoration: underline;
}
