@use '_global.scss';

/* MAIN STYLING
------------------------------------ */
.main__page-title {
  margin-block-end: 2rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

/* TODOS STYLING
------------------------------------ */
.todos {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-inline: auto;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  & > * + *,
  &__body > * + * {
    border-block-start: 2px solid #f6f6f6;
  }

  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }

  &__header-title {
    font-size: 1rem;
    font-weight: 500;
  }

  &__header-icon {
    width: 1.125rem;
    height: auto;
  }

  &__body {
    font-size: 1rem;
  }

  &__form {
    padding-inline: 1rem;
  }

  &__form * {
    width: 100%;
    padding-block: 1em;
    border: none;
  }

  &__list {
    display: flex;
    flex-direction: column;

    & > * + * {
      border-block-start: 2px solid #f6f6f6;
    }
  }

  &__label {
    position: relative;

    &-input {
      font-style: italic;
      opacity: 0.5;

      &:focus-visible {
        font-style: normal;
        opacity: 1;
        outline: none;
      }
    }
  }

  &__input-img {
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: 0;
    width: 15px;
    height: auto;
  }

  &__footer {
    background-color: #f6f6f6;
    text-align: center;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
  }

  &__clear-btn {
    font-size: 1rem;
    color: #808080;
    padding: 0;
    border: none;
    cursor: pointer;

    &:hover,
    &:active {
      color: #000;
      text-decoration: underline;
    }
  }

  &__list-empty {
    color: red;
    font-size: 1.2rem;
    text-align: center;
    font-style: italic;
    padding: 1rem;
  }
}

.todo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-block: 1rem;

  &__btn-delete {
    display: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  &__delete-img {
    width: 40px;
    height: auto;
  }

  &.focus {
    background-color: #fffed7;
    padding-inline-end: 1.5rem;

    & .todo__btn-delete {
      display: block;
    }
  }

  &__check-img {
    display: none;
    width: 100%;
    height: auto;
  }

  &__btn-check {
    flex-shrink: 0;
    flex-grow: 0;
    width: 20px;
    height: 20px;
    margin-inline: 1rem;
    padding: 0;
    border: 2px solid #9d9d9d;
    cursor: pointer;

    &.checked {
      border: none;

      & .todo__check-img {
        display: block;
      }
    }
  }

  &__label {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__item {
    border: none;
    resize: none;
    background: transparent;

    &.completed {
      text-decoration: line-through;
      opacity: 0.5;
    }

    &:focus-visible,
    &.completed:focus-visible {
      outline: none;
      text-decoration: none;
      opacity: 1;
    }
  }

  &__btn-drag {
    cursor: move;
    opacity: 0.5;
  }

  &__btn-drag:hover {
    opacity: 1;
  }

  &.focus &__btn-drag {
    display: none;
  }
}
